# dependencies
node_modules/
jspm_packages/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next.js
.next
out
next-env.d.ts

# production
build

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# coverage
coverage
.nyc_output
*.lcov

# cache
.cache
.parcel-cache
.eslintcache
.stylelintcache
.tsbuildinfo
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# Vercel
.vercel

# misc
.DS_Store
desktop.ini
*.pem

# OS / tooling
.vscode-test
